- 需求：
    - 导入文件，查看原始数据
    - 将人口数据和各州简称数据进行合并
    - 将合并的数据中重复的abbreviation列进行删除
    - 查看存在缺失数据的列
    - 找到有哪些state/region使得state的值为NaN，进行去重操作
    - 为找到的这些state/region的state项补上正确的值，从而去除掉state这一列的所有NaN
    - 合并各州面积数据areas
    - 我们会发现area(sq.mi)这一列有缺失数据，找出是哪些行
    - 去除含有缺失数据的行
    - 找出2010年的全民人口数据
    - 计算各州的人口密度
    - 排序，并找出人口密度最高的州

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [9]:
#导入文件，查看原始数据
abb = pd.read_csv('./data/state-abbrevs.csv') #state(州的全称)abbreviation（州的简称）

In [4]:
area = pd.read_csv('./data/state-areas.csv') #state州的全称，area (sq. mi)州的面积

In [6]:
pop = pd.read_csv('./data/state-population.csv')#state/region简称，ages年龄，year时间，population人口数量

In [10]:
#将人口数据和各州简称数据进行合并
abb_pop = pd.merge(abb,pop,left_on='abbreviation',right_on='state/region',how='outer')
abb_pop.head()

     state abbreviation state/region     ages  year  population
0  Alabama           AL           AL  under18  2012   1117489.0
1  Alabama           AL           AL    total  2012   4817528.0
2  Alabama           AL           AL  under18  2010   1130966.0
3  Alabama           AL           AL    total  2010   4785570.0
4  Alabama           AL           AL  under18  2011   1125763.0

In [11]:
#将合并的数据中重复的abbreviation列进行删除
abb_pop.drop(labels='abbreviation',axis=1,inplace=True)

In [12]:
abb_pop.head()

     state state/region     ages  year  population
0  Alabama           AL  under18  2012   1117489.0
1  Alabama           AL    total  2012   4817528.0
2  Alabama           AL  under18  2010   1130966.0
3  Alabama           AL    total  2010   4785570.0
4  Alabama           AL  under18  2011   1125763.0

In [13]:
#查看存在缺失数据的列
#方式1：isnull，notll，any，all
abb_pop.isnull().any(axis=0)
#state,population这两列中是存在空值

state            True
state/region    False
ages            False
year            False
population       True
dtype: bool

In [14]:
#方式2：
abb_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2544 entries, 0 to 2543
Data columns (total 5 columns):
state           2448 non-null object
state/region    2544 non-null object
ages            2544 non-null object
year            2544 non-null int64
population      2524 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 119.2+ KB

In [15]:
#找到有哪些state/region使得state的值为NaN，进行去重操作(将state中的空值对应的简称找到，且对简称进行去重)
abb_pop.head()

     state state/region     ages  year  population
0  Alabama           AL  under18  2012   1117489.0
1  Alabama           AL    total  2012   4817528.0
2  Alabama           AL  under18  2010   1130966.0
3  Alabama           AL    total  2010   4785570.0
4  Alabama           AL  under18  2011   1125763.0

In [ ]:
#思路：可以将state这一列中的空值对应的行数据取出，从该行数据中就可以取出简称的值

In [37]:
#1.将state中的空值定位到
abb_pop['state'].isnull()
#2.将上述的布尔值作为源数据的行索引
abb_pop.loc[abb_pop['state'].isnull()]#将state中空对应的行数据取出
#3.将简称取出
abb_pop.loc[abb_pop['state'].isnull()]['state/region']
#4.对简称去重
abb_pop.loc[abb_pop['state'].isnull()]['state/region'].unique()

#结论：只有PR和USA对应的全称数据为空值

array([], dtype=object)

In [ ]:
#为找到的这些state/region的state项补上正确的值，从而去除掉state这一列的所有NaN
#思考：填充该需求中的空值可不可以使用fillna？
    # - 不可以。fillna可以使用空的紧邻值做填充。fillna(value='xxx')使用指定的值填充空值
    # 使用给元素赋值的方式进行填充！

In [23]:
#1.先给USA的全称对应的空值进行批量赋值

In [27]:
#1.1将USA对应的行数据找出（行数据中就存在state的空值）
abb_pop['state/region'] == 'USA'
abb_pop.loc[abb_pop['state/region'] == 'USA']#将usa对应的行数据取出

     state state/region     ages  year   population
2496   NaN          USA  under18  1990   64218512.0
2497   NaN          USA    total  1990  249622814.0
2498   NaN          USA    total  1991  252980942.0
2499   NaN          USA  under18  1991   65313018.0
2500   NaN          USA  under18  1992   66509177.0
2501   NaN          USA    total  1992  256514231.0
2502   NaN          USA    total  1993  259918595.0
2503   NaN          USA  under18  1993   67594938.0
2504   NaN          USA  under18  1994   68640936.0
2505   NaN          USA    total  1994  263125826.0
2506   NaN          USA  under18  1995   69473140.0
2507   NaN          USA  under18  1996   70233512.0
2508   NaN          USA    total  1995  266278403.0
2509   NaN          USA    total  1996  269394291.0
2510   NaN          USA    total  1997  272646932.0
2511   NaN          USA  under18  1997   70920738.0
2512   NaN          USA  under18  1998   71431406.0
2513   NaN          USA    total  1998  275854116.0
2514   NaN          USA  under18  1999   71946051.0
2515   NaN          USA    total  2000  282162411.0
2516   NaN          USA  under18  2000   72376189.0
2517   NaN          USA    total  1999  279040181.0
2518   NaN          USA    total  2001  284968955.0
2519   NaN          USA  under18  2001   72671175.0
2520   NaN          USA    total  2002  287625193.0
2521   NaN          USA  under18  2002   72936457.0
2522   NaN          USA    total  2003  290107933.0
2523   NaN          USA  under18  2003   73100758.0
2524   NaN          USA    total  2004  292805298.0
2525   NaN          USA  under18  2004   73297735.0
2526   NaN          USA    total  2005  295516599.0
2527   NaN          USA  under18  2005   73523669.0
2528   NaN          USA    total  2006  298379912.0
2529   NaN          USA  under18  2006   73757714.0
2530   NaN          USA    total  2007  301231207.0
2531   NaN          USA  under18  2007   74019405.0
2532   NaN          USA    total  2008  304093966.0
2533   NaN          USA  under18  2008   74104602.0
2534   NaN          USA  under18  2013   73585872.0
2535   NaN          USA    total  2013  316128839.0
2536   NaN          USA    total  2009  306771529.0
2537   NaN          USA  under18  2009   74134167.0
2538   NaN          USA  under18  2010   74119556.0
2539   NaN          USA    total  2010  309326295.0
2540   NaN          USA  under18  2011   73902222.0
2541   NaN          USA    total  2011  311582564.0
2542   NaN          USA  under18  2012   73708179.0
2543   NaN          USA    total  2012  313873685.0

In [29]:
#1.2将USA对应的全称空对应的行索引取出
indexs = abb_pop.loc[abb_pop['state/region'] == 'USA'].index

In [31]:
abb_pop.iloc[indexs]
abb_pop.loc[indexs,'state'] = 'United States'

In [35]:
#2.可以将PR的全称进行赋值
abb_pop['state/region'] == 'PR'
abb_pop.loc[abb_pop['state/region'] == 'PR'] #PR对应的行数据
indexs = abb_pop.loc[abb_pop['state/region'] == 'PR'].index

In [36]:
abb_pop.loc[indexs,'state'] = 'PPPRRR'

In [39]:
#合并各州面积数据areas
abb_pop_area = pd.merge(abb_pop,area,how='outer')

In [44]:
#我们会发现area(sq.mi)这一列有缺失数据，找出是哪些行
abb_pop_area['area (sq. mi)'].isnull()
abb_pop_area.loc[abb_pop_area['area (sq. mi)'].isnull()] #空对应的行数据
indexs = abb_pop_area.loc[abb_pop_area['area (sq. mi)'].isnull()].index

In [45]:
#去除含有缺失数据的行
abb_pop_area.drop(labels=indexs,axis=0,inplace=True)

In [47]:
#找出2010年的全民人口数据(基于df做条件查询)
abb_pop_area.query('ages == "total" & year == 2010')

                     state      ...      area (sq. mi)
3                  Alabama      ...            52423.0
91                  Alaska      ...           656425.0
101                Arizona      ...           114006.0
189               Arkansas      ...            53182.0
197             California      ...           163707.0
283               Colorado      ...           104100.0
293            Connecticut      ...             5544.0
379               Delaware      ...             1954.0
389   District of Columbia      ...               68.0
475                Florida      ...            65758.0
485                Georgia      ...            59441.0
570                 Hawaii      ...            10932.0
581                  Idaho      ...            83574.0
666               Illinois      ...            57918.0
677                Indiana      ...            36420.0
762                   Iowa      ...            56276.0
773                 Kansas      ...            82282.0
858               Kentucky      ...            40411.0
869              Louisiana      ...            51843.0
954                  Maine      ...            35387.0
965                Montana      ...           147046.0
1050              Nebraska      ...            77358.0
1061                Nevada      ...           110567.0
1146         New Hampshire      ...             9351.0
1157            New Jersey      ...             8722.0
1242            New Mexico      ...           121593.0
1253              New York      ...            54475.0
1338        North Carolina      ...            53821.0
1349          North Dakota      ...            70704.0
1434                  Ohio      ...            44828.0
1445              Oklahoma      ...            69903.0
1530                Oregon      ...            98386.0
1541              Maryland      ...            12407.0
1626         Massachusetts      ...            10555.0
1637              Michigan      ...            96810.0
1722             Minnesota      ...            86943.0
1733           Mississippi      ...            48434.0
1818              Missouri      ...            69709.0
1829          Pennsylvania      ...            46058.0
1914          Rhode Island      ...             1545.0
1925        South Carolina      ...            32007.0
2010          South Dakota      ...            77121.0
2021             Tennessee      ...            42146.0
2106                 Texas      ...           268601.0
2117                  Utah      ...            84904.0
2202               Vermont      ...             9615.0
2213              Virginia      ...            42769.0
2298            Washington      ...            71303.0
2309         West Virginia      ...            24231.0
2394             Wisconsin      ...            65503.0
2405               Wyoming      ...            97818.0

[51 rows x 6 columns]

In [53]:
#计算各州的人口密度(人口除以面积)
abb_pop_area['midu'] = abb_pop_area['population'] / abb_pop_area['area (sq. mi)']
abb_pop_area

            state state/region    ...     area (sq. mi)       midu
0         Alabama           AL    ...           52423.0  21.316769
1         Alabama           AL    ...           52423.0  91.897221
2         Alabama           AL    ...           52423.0  21.573851
3         Alabama           AL    ...           52423.0  91.287603
4         Alabama           AL    ...           52423.0  21.474601
5         Alabama           AL    ...           52423.0  91.593900
6         Alabama           AL    ...           52423.0  90.760506
7         Alabama           AL    ...           52423.0  21.635389
8         Alabama           AL    ...           52423.0  21.202163
9         Alabama           AL    ...           52423.0  92.206131
10        Alabama           AL    ...           52423.0  89.137211
11        Alabama           AL    ...           52423.0  21.599222
12        Alabama           AL    ...           52423.0  90.002594
13        Alabama           AL    ...           52423.0  21.649410
14        Alabama           AL    ...           52423.0  87.171757
15        Alabama           AL    ...           52423.0  21.311810
16        Alabama           AL    ...           52423.0  88.300574
17        Alabama           AL    ...           52423.0  21.494344
18        Alabama           AL    ...           52423.0  86.426359
19        Alabama           AL    ...           52423.0  21.243767
20        Alabama           AL    ...           52423.0  85.906778
21        Alabama           AL    ...           52423.0  21.232722
22        Alabama           AL    ...           52423.0  85.222784
23        Alabama           AL    ...           52423.0  21.372470
24        Alabama           AL    ...           52423.0  85.460370
25        Alabama           AL    ...           52423.0  21.299620
26        Alabama           AL    ...           52423.0  21.389218
27        Alabama           AL    ...           52423.0  84.507583
28        Alabama           AL    ...           52423.0  84.927856
29        Alabama           AL    ...           52423.0  21.408027
...           ...          ...    ...               ...        ...
2419      Wyoming           WY    ...           97818.0   1.269521
2420      Wyoming           WY    ...           97818.0   5.204625
2421      Wyoming           WY    ...           97818.0   1.267395
2422      Wyoming           WY    ...           97818.0   5.111707
2423      Wyoming           WY    ...           97818.0   1.282944
2424      Wyoming           WY    ...           97818.0   5.056912
2425      Wyoming           WY    ...           97818.0   1.290274
2426      Wyoming           WY    ...           97818.0   5.053262
2427      Wyoming           WY    ...           97818.0   1.316465
2428      Wyoming           WY    ...           97818.0   5.027500
2429      Wyoming           WY    ...           97818.0   1.337106
2430      Wyoming           WY    ...           97818.0   5.003701
2431      Wyoming           WY    ...           97818.0   1.373244
2432      Wyoming           WY    ...           97818.0   1.355599
2433      Wyoming           WY    ...           97818.0   5.017349
2434      Wyoming           WY    ...           97818.0   1.387250
2435      Wyoming           WY    ...           97818.0   4.990564
2436      Wyoming           WY    ...           97818.0   4.959823
2437      Wyoming           WY    ...           97818.0   1.398362
2438      Wyoming           WY    ...           97818.0   1.408054
2439      Wyoming           WY    ...           97818.0   4.909965
2440      Wyoming           WY    ...           97818.0   1.403709
2441      Wyoming           WY    ...           97818.0   4.766515
2442      Wyoming           WY    ...           97818.0   4.836339
2443      Wyoming           WY    ...           97818.0   1.405242
2444      Wyoming           WY    ...           97818.0   4.695046
2445      Wyoming           WY    ...           97818.0   1.397698
2446      Wyoming           WY    ...           97818.0   1.391135
2447      Wyoming           WY    ...           97818.0   4.638103
2544  Puerto Rico          NaN    ...            3515.0        NaN

[2449 rows x 7 columns]

In [58]:
#排序，并找出人口密度最高的州
abb_pop_area.sort_values(by='midu',axis=0,ascending=False).iloc[0]['state']

'District of Columbia'